body {
    margin: 0px;
    padding: 0px;
}
main {
    display: flex;
}

.side {
    background-image: url("images/cat.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 40vw;
}

label {
    text-transform: uppercase;
}

#odin_logo {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20vh;
    padding: 10px;
    
}

#odin_logo > img {
  height: 100%;
  object-fit: fill;
}

#odin_logo > p {
    text-transform: uppercase;
    font-family: 'Aclonica', sans-serif;
    color: white;
    font-size: 4rem;
    align-self: center;
}

#photo_credit {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: small;
    padding: 10px;
    text-align: center;
    width: 100%;

}

#photo_credit > a {
    color: white;
}

#form-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#top, #middle, #bottom {
    padding-left: 3rem;
    padding-right: 5rem;
}


#top {
    background-color: whitesmoke;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    text-wrap: balance;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 0 1 30%;
 }


#middle {
    padding-bottom: 5rem;
    flex: 0 1 20%;
}

#bottom {
    background: linear-gradient(
        to top,
        whitesmoke 98%,
        lightgrey

    );
    padding-top: 2rem;
    font-weight: bold;
    font-size: large;
    flex: 1 1 auto;
}

button {
    background-color: darkslategray;
    border-radius: 6px;
    padding: 0.5rem 2.5rem;
    color: white;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: large;
    border: none;

}

#bottom a {
    color: darkslategray;
    text-decoration: none;

}

#collect_form {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.form_input {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 34%

       
}

input {
    box-shadow: none;
    border: 2px solid #E5E7EB;
    height: 1.5rem;
    max-width: 20rem;
}

input:focus {
    border: 2px solid blue ;
    box-shadow: 1px 1px 5px darkblue;
    outline: none;
}

input[type="password"]:user-invalid {
    border: 2px solid red;
    box-shadow: 1px 1px 5px darkred;
    outline: none;
}


